body {
    color: green;
    background-color: black;
}

.home-container {
    background: rgb(60, 207, 109);
    width: 200px;
    margin: 16px auto;
    border: 1px;
    padding: 1px;
}

.ind-container {

    background: white;
    width: 400px;
    border: 1px;
    padding: 5px;
    margin: 1px auto;

}

h1 {
    color: red;
}

h2 {
    color: blue;
}

.content-text {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

miso {
    font-weight: bold;
    color: black;
    background-color: white;
}
